.parallax {
  min-height: 100vh;
  background-image: url("/black.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-x-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
